.logtemplates_cache/
logtemplates/__pycache__/

C:/Users/Sanket/COCA_RCA/logtemplates/__pycache__/

*.jsonl
*.pkl
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pkl
*.pkl.gz
*.pkl.bz2
*.pkl.xz
*.pkl.lzma
*.pkl.zstd
*.pkl.zstd.gz
*.pkl.zstd.bz2
*.pkl.zstd.xz
*.pkl.zstd.lzma
*.pkl.zstd.zstd.gz
*.pkl.zstd.zstd.bz2
*.pkl.zstd.zstd.xz
*.pkl.zstd.zstd.lzma